<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://software2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>software2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>software2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$software2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User ID=software2@software2.database.windows.net;Password=software_2" Name="Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User Id=software2@software2.database.windows.net;Password=software_2" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProyectoV1.Models.ApplicationDbContext, ProyectoV1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HotelConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User ID=software2@software2.database.windows.net;Password=software_2" Name="Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User Id=software2@software2.database.windows.net;Password=software_2" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=Hotel;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HotelConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=Hotel;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User Id=software2@software2.database.windows.net;Password=software_2</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HotelConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:software2.database.windows.net,1433;Initial Catalog=software2;User Id=software2@software2.database.windows.net;Password=software_2</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>